#CommentBackgroundLayer{
	font-family: 'GFS Didot',serif;
	background-color:#222930;
	margin-top:2%;
	padding-left:5%;
	border-radius: 25px;
	opacity:0.9;
	padding-bottom: 1%;



}

#CommentLabel{
	margin-top: 2%;
	color:#ffffff;
	font-size: 25px;
}
#CommentBackgroundLayer form input{
	border-radius: 10px 25px 0px 25px;
	padding-right: 15px;
	padding-bottom: 10px;
	box-shadow: 10px 20px 30px #000000;
}
#CommentBackgroundLayer form textarea{
	margin-top:1%;
	box-shadow: 10px 20px 30px #000000;
	border-radius: 15px;

}
#CommentBackgroundLayer form button{
	margin-left: 80%;
	margin-top: 2%;
}