#settings{
	background-color: #000000;
	color:#ffffff;
	opacity: 0.7;
	margin-top: 15%;
	padding:1% 1% 1% 1%;
	border-radius: 5px 5px 5px 25px;
	margin-left: 25%;
	position:absolute;
}
#msg{
	margin-top: 2%;
	font-size: 20px;
}
#settings table{

	margin-top: 2%;
	margin-left:10%;
	color:#ffffff;
	font-size: 15px;
}
#settings  button{
	border-radius: 10px 15px 10px 20px;
}
#settings td{ /* on table*/
	margin-left: 3%;
	font-size: 15px;
}